
.profile-img{
    width: 150px;
    height: 150px;
    margin-top: -75px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0;
    margin-bottom: 10px;
}

.my-border{
    border:1px solid red;
}
